{% include 'basic_map.html' %}
<head>
    <meta charset="utf-8">
 <title>Bus Maps</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
<body style="background-color: #90ee90">
{% if message %}
        <p>{{ message }}</p>
{% endif %}
<form action="" method="post">
{{ form.autocomp.label }}: {{ form.autocomp }}
{{ form.csrf_token }}
<script>
    $(function() {
        $.ajax({
            url: '{{ url_for("autocomplete") }}'
            }).done(function (data){
                $('#city_autocomplete').autocomplete({
                    source: data,
                    minLength: 3
                });
            });
        });
</script>
<p></p>
{{ form.autocomp1.label }}: {{ form.autocomp1 }}
<script>
    $(function() {
        $.ajax({
            url: '{{ url_for("autocomplete") }}'
            }).done(function (data){
                $('#ity_autocomplete').autocomplete({
                    source: data,
                    minLength: 3
                });
            });
        });
</script>
<p><input type="submit"></p>
</form>
  </body>
</html>
